html {
    background-color:black;
    color: white;
    font-family: Verdana;
}
body {
    width: 78vw;
    background-color: black;
    margin: auto;
}
section {
    width: 1200px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 50px;
    width: 1200px;
    margin: auto;
    font-weight: normal;
    padding-top: 40px;
}